
.portrait
{
    background-image: url("../images/Portrait.jpg");
    height: 805px;
    width: 1006px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.portrait:hover{
    background-image: url("../images/Portrait_logo.jpg");
    height: 805px;
    width: 1006px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}



.stilllife
{
    background-image: url("../images/Still_life.jpg");
    height: 805px;
    width: 1006px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.stilllife:hover{
    background-image: url("../images/Still_life_logo.jpg");
    height: 805px;
    width: 1006px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}


.travel
{
    background-image: url("../images/travel_N9A9788.jpg");
    height: 805px;
    width: 1006px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.travel:hover{
    background-image: url("../images/travel_logo.jpg");
    height: 805px;
    width: 1006px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact
{
    background-image: url("../images/contact_logo.jpg");
    height: 815px;
    width: 1006px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact:hover{
    background-image: url("../images/contact.jpg");
    height: 815px;
    width: 1006px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}